.navbar{
    padding: 1rem 9rem;
    background-color: $color-darkBrown;
    @media screen and (max-width: 1200px) {
        padding: 1.5rem 4rem;
    }
    @media screen and (max-width: 992px) {
        padding: 1.5rem 2rem;
    }
    @media screen and (max-width: 440px) {
        padding: 1rem 1rem;
    }
    &_fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    width: 12rem;
    @media screen and (max-width: 1200px) {
        width: 10rem;
    }
    @media screen and (max-width: 440px) {
        width: 8rem;
    }
}
ul {
list-style: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    @media screen and (max-width: 1200px) {
        width: 40%;
    }
    @media screen and (max-width: 992px) {
        display: none;
    }

    &_link{
        text-decoration: none;
        color: $color-lightGold;
        font-weight: normal;
        font-style: normal;
        font-size: 1.125rem;
        letter-spacing: 0.1rem;
        @media screen and (max-width: 992px) {
            font-size: 1rem;
        }
    }
}

a.phone {
    color: $color-lightGold;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 576px) {
        font-size: 1.25rem;
    }
    @media screen and (max-width: 440px) {
        font-size: 1rem;
    }
    &::before {
        display: inline-block;
        content: "";
        background-image: url("../../../../assets/img/icons/phone.svg");
        width: 1.25rem;
        height: 1.25rem;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 0.5rem;
        text-align: center;
        line-height: 1.25rem;
        @media screen and (max-width: 440px) {
            width: 1rem;
            height: 1rem;
            line-height: 1rem;
            margin-right: 0.25rem;
        }
    }
}


/*HAMBURGER*/

//
//.hamburger__wrapper {
//    background-color: $color-blue;
//    position: fixed;
//    z-index: 106;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    width: 6rem;
//    display: flex;
//    justify-content: center;
//    transition: .7s ease right;
//}
//
//.menu__btn {
//    position: relative;
//    display: flex;
//    flex-direction: column;
//    width: 2.5rem;
//    height: 2.5rem;
//    margin-top: 3rem;
//    transition: .7s ease left;
//}
//
//.menu__btn-line,
//.menu__btn-line::before,
//.menu__btn-line::after {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    align-items: center;
//    height: 3px;
//    width: 100%;
//    background-color: #fff;
//    margin-top: -2px;
//}
//
//
//.menu__btn-line::before,
//.menu__btn-line::after {
//    content: "";
//    margin-left: -50%;
//}
//
//.menu__btn-line::before {
//    transform: translateY(-10px);
//}
//
//.menu__btn-line::after {
//    transform: translateY(10px);
//}
//
//.menu__btn-line_active::before {
//    transform: rotate(-45deg);
//    transform-origin: right top;
//    width: 50%;
//    margin-left: 0%;
//}
//
//.menu__btn-line_active::after {
//    transform: rotate(45deg);
//    transform-origin: right bottom;
//    width: 50%;
//    margin-left: 0%;
//}
//
//








