<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Пробоотборники для зерна></title>
</head>
<body class=page">
<!--    <nav class="navbar navbar_fixed-top">-->
<!--        <div class="wrapper">-->
<!--            <div class="wrapper_row">-->
<!--&lt;!&ndash;                <img class="logo" src="" alt="">&ndash;&gt;-->
<!--                <ul class="menu wrapper_row">-->
<!--                    <li class="menu__item">-->
<!--                        <a href="" class="menu__link">-->

<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="menu__item">-->
<!--                        <a href="" class="menu__link">-->

<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="menu__item">-->
<!--                        <a href="" class="menu__link">-->

<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <header class="header">
        <div class="wrapper">
            <div class="wrapper_column header__wrapper">
                <h1 class="header__title">
                    Пробоотборник для контроля качества зерна
                </h1>
                <p class="header__subtitle">
                    Любые размеры под заказ
                </p>
                <a href="" class="btn header__btn">заказать</a>
            </div>
        </div>
    </header>
    <section class="section about">
        <div class="wrapper">
            <div class="about__wrapper">
                <div class="wrapper_column wrapper_col-3">
                    <h2 class="section__title about__title">
                        Что мы производим
                    </h2>
                    <h3 class="section__subtitle about__subtitle">
                        Изготавливаем качественный инструмент для отбора проб зерна
                    </h3>
                    <p class="section__text margin_top">
                        Пробоотборники просты в использовании и обслуживании. Имеют малый вес и прочную конструкцию. Являются универсальным и недорогим средством отбора проб зерна.
                    </p>
                </div>
                <div class="wrapper_row margin_top">
                    <img src="../../assets/img/about.png" alt="products" class="order__img margin_top">
                </div>
                <div class="wrapper_row margin_top">
                    <div class="wrapper_column wrapper_col-3">
                        <span class="list__title">Устройство прибора</span>
                        <ol>
                            <li>
                                <p class="section__text list__item list__item_bold">
                                    Наружный корпус
                                </p>
                                <div class="wrapper__column list__text">
                                    <div class="section__text ">- алюминиевая труба диаметром 35 мм</div>
                                    <div class="section__text">- наконечник конусообразной формы и упор</div>
                                    <div class="section__text">- ручки (по требованию заказчика)</div>
                                </div>
                            </li>
                            <li>
                                <p class="section__text list__item list__item_bold">
                                    Внутренний корпус
                                </p>
                                <div class="wrapper__column list__text">
                                    <div class="section__text">- алюминиевая труба диаметром 26 мм</div>
                                    <div class="section__text">- обжимное кольцо</div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="wrapper_column wrapper_col-3">
                        <span class="list__title">Порядок работы</span>
                        <ol>
                            <li>
                                <p class="section__text list__item">
                                    Погрузить пробоотборник с закрытыми заборными отверстиями в насыпь
                                </p>
                            </li>
                            <li>
                                <p class="section__text list__item">
                                    Открыть заборные отверстия поворотом рукоятки против часовой стрелки
                                </p>
                            </li>
                            <li>
                                <p class="section__text list__item">
                                    Несколько раз приподнять и опустить пробоотборник в насыпь для ускорения попадания в него зерна
                                </p>
                            </li>
                            <li>
                                <p class="section__text list__item">
                                    Закрыть заборные отверстия плавным поворотом рукоятки по часовой стрелке до упора
                                </p>
                            </li>
                            <li>
                                <p class="section__text list__item">
                                    Извлечь пробоотборник из насыпи. Затем пробоотборник необходимо медленно перевернуть рукояткой вниз, постепенно высыпая пробу через отверстие в торце рукоятки
                                </p>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="wrapper_row">

                </div>
            </div>
        </div>
    </section>
    <section class="section order">
        <div class="wrapper">
            <div class="order__wrapper">
                <div class="wrapper_column wrapper_col-3">
                    <h2 class="section__title order__title">
                        Сделать заказ
                    </h2>
                    <h3 class="section__subtitle order__subtitle">
                        Работаем со всеми регионами России
                    </h3>
                    <img src="../../assets/img/order.png" alt="products" class="order__img margin_top">
                </div>
                <div class="wrapper_column wrapper_col-3">

                </div>
            </div>
        </div>
    </section>
    <section class="section clients">
        <div class="wrapper">
            <div class="clients__wrapper">
                <div class="wrapper_column wrapper_col-4">
                    <h2 class="section__title clients__title">
                        С кем мы сотрудничаем
                    </h2>
                    <h3 class="section__subtitle clients__subtitle">
                        Продаем нашу продукцию напрямую клиентам, чтобы гарантировать справедливые цены и качество продукций
                    </h3>
                </div>
                <div class="wrapper_row clients__cards">
                    <div class="wrapper_column card">
                        <img src="../../assets/img/icons/agriculture.svg" class="card__icon" alt="">
                        <div class="card__title">Сельское хозяйство</div>
                        <div class="card__descript">Фермеры - отправная точка. Они сажают урожай на земле. Они оптимизируют урожай и качество за счет полива, удобрения и борьбы с вредителями. В конечном итоге они собирают финальное качество</div>
                    </div>
                    <div class="wrapper_column card">
                        <img src="../../assets/img/icons/trade.svg" class="card__icon" alt="">
                        <div class="card__title">Торговля зерном</div>
                        <div class="card__descript">Дилеры собирают продукцию у фермеров, очищают и сортируют ее и создают единые партии на основе классификации качества. Затем они предлагают эти партии соседним предприятиям, например, заводам</div>
                    </div>
                    <div class="wrapper_column card">
                        <img src="../../assets/img/icons/animals.svg" class="card__icon" alt="">
                        <div class="card__title">Производители кормов</div>
                        <div class="card__descript">Они сотрудничают с животноводами и производят кормовые смеси, чтобы добиться улучшений в откорме коров, свиней и птицы</div>
                    </div>
                    <div class="wrapper_column card">
                        <img src="../../assets/img/icons/grains.svg" class="card__icon" alt="">
                        <div class="card__title">Выращивание семян</div>
                        <div class="card__descript">Для улучшения семян и выполнения требования рынка. Изменившиеся условия окружающей среды, такие как погода и климат, усиливают давление, заставляющее улучшать снабжение продовольствием растущее население Земли</div>
                    </div>
                    <div class="wrapper_column card">
                        <img src="../../assets/img/icons/flour.svg" class="card__icon" alt="">
                        <div class="card__title">Пекарни</div>
                        <div class="card__descript">Пекарни ищут высококачественное зерно, чтобы соответствовать требованиям пекарей. Качественное зерно важно для его измельчения с целью получения получения однородной муки</div>
                    </div>
                    <div class="wrapper_column card">
                        <img src="../../assets/img/icons/beer.svg" class="card__icon" alt="">
                        <div class="card__title">Солодовни и пивоварни</div>
                        <div class="card__descript">Пивоваренная промышленность также является важным потребителем зерна. Для стабильного качества пивоварням нужен качественный солод из солодовен, что требует оптимизации существующего качества зерна посредством технологического процесса</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section contact">
        <div class="wrapper">
            <div class="contact__wrapper">
                <div class="wrapper_row">
                    <div class="wrapper_column wrapper_col-3">
                        <h2 class="section__title contact__title">
                            Контакты
                        </h2>
                        <h3 class="section__subtitle contact__subtitle">
                            Связаться с нами
                        </h3>
                        <p class="section__text contact__text_color">
                            Присылайте нам свои вопросы, предложения и пожелания
                        </p>
                    </div>
                </div>
                <div class="wrapper_row">
                    <div class="wrapper_column wrapper_col-3 margin_top">
                        <form name="form" class="form">
                                <div class="form__input-container">
                                    <textarea class="form__item form__item_message" required placeholder="Ваше сообщение" name="message"></textarea>
                                    <input class="form__item" required placeholder="Ваше имя" name="name" type="text">
                                    <input class="form__item" required placeholder="Ваш e-mail" name="email" type="email">
                                    <input class="form__item" required placeholder="Ваш телефон" name="phone" type="tel">
                                    <button class="btn form__btn margin_top" type="submit">Отправить</button>
                                </div>
                        </form>
                    </div>
                    <div class="wrapper_column wrapper_col-3 contact__info margin_top ">
                        <div class="wrapper_column">
                            <p class="section__text contact__text contact__text_color">
                                <span class="section__text_big">Воронеж</span>
                                <br>
                                <br>Солнечная ул., 33
                                <br>р-н Коминтерновский
                            </p>
                            <span class="section__text contact__text">
                                 <a class="link_decor" href="https://goo.gl/maps/J35coSGfpc5WDPrq6">Показать на карте</a>
                            </span>
                            <p class="section__text contact__text wrapper_column">
                                    <a class="contact__text_color link link_email" href="mailto:admin@mail.ru">admin@mail.ru</a>
                                    <a class="contact__text_color link link_phone" href="tel:+79066800544" class="text-decor">8 906 680 05 44</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer page__footer">
        <div class="wrapper">

        </div>
    </footer>
</body>
</html>